<!-- <app-chat></app-chat>

<app-camara (pictureTaken)="handleImage($event)"></app-camara>
<div class="snapshot" *ngIf="webcamImage">
<img [src]="webcamImage.imageAsDataUrl" />
</div> -->

<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/chat" routerLinkActive="active">Acceder al chat</a></li>
    <li><a routerLink="/camara" routerLinkActive="active">Emitir transmision</a></li>
    <li><a routerLink="/imagen" routerLinkActive="active">Visualizar transmision</a></li>
  </ul>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>